div.renami-settings {
	div.setting-item.renami-config {
		flex-direction: column;
		align-items: stretch;

		div.setting-item-control textarea {
			width: 100%;
			height: 300px;
			margin-top: 1em;
		}
	}
}
